@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 0px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.right {
    padding-right: 100px;
}

.right a {
    color: #e5e7eb;
    font-size: 18px;
}
a {
    text-decoration: none;
}

.footer {
    margin-bottom: auto;
}

.hero {
    justify-content: space-between;
    background-color: #1f2937;
    padding: 200px 100px;
}

.hero {
    display: flex;
    gap: 30px;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
}

.signup {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #3882f6;
}

.hero-second {
    font-size: 18px;
}

.hero-image {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    /* box-sizing: border-box; */
    flex: 1 0 auto;
}